<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="game_over.css" type="text/css">
</head>

<body>
    <div>
        <h3>Best Players</h3>
        <table>
            <tr>
                <th>Score</th>
                <th>Players</th>
            </tr>
            <tr>
                <td>1</td>
                <td>mick</br>todd</td>
            </tr>
            <tr>
                <td>3</td>
                <td>john</td>
            </tr>
        </table>
    </div>
</body>

</html>