.ConnStatus {
  text-align: center;
}

.ConnStatus h5 {
  text-align: center;
  color: green;
  margin: 3px;
}

.ConnStatusError {
  border: 1px solid #e32222;
  background-color: #ffe6e6;
  color: #e32222;
  width: 70%;
  margin: 20px auto 20px auto;
  border-radius: 18px;
}