.HistoryBox {
    overflow: auto;
    max-height: 60vh;
}

.HistoryBox table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #f84445;
    border-bottom: 1px solid #f84445;
}

.HistoryBoxHeader {
    border-bottom: 2px solid #f84445;
    font-size: 20px;
}

.HistoryBox tr:nth-child(even) {
    background-color: #344146;
}

.red-guess {
    border-radius: 25px;
    text-decoration: underline;
    text-decoration-color: #f84445;
}

.black-guess {
    border-radius: 25px;
    text-decoration: underline;
    text-decoration-color: black;
}

.good-outcome {
    color: green;
    font-weight: bold;
}

.bad-outcome {
    color: #f84445;
    font-weight: bold;
}

.outcome {
    text-align: right;
}
