.HistoryBox {
    margin: 5px;
    border: 2px solid #505759;
    overflow: auto;
    height: 300px;
}

.HistoryBox table {
    width: 100%;
    border-collapse: collapse;
}

.HistoryBox tr {
    border-bottom: 2px solid #505759;
}

.HistoryBox tr:last-child {
    border: none;
}

.username {
    padding: 10px;
}

.red-guess {
    border-radius: 25px;
    background-color: #f84445;
    border: 2px solid #fc7778;
    padding: 0px 17px;
}

.black-guess {
    border-radius: 25px;
    background-color: #000;
    border: 2px solid #222222;
    padding: 0px 17px;
}

.good-outcome {
    color: green;
    font-weight: bold;
}

.bad-outcome {
    color: #f84445;
    font-weight: bold;
}

.outcome {
    text-align: right;
}